@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #828788;
}

.nav_bar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.nav_menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
    transition: all 0.3s ease;
}

.nav_menu a:hover {
    transition: all 0.3s ease;
    color: #f1f1f1;
}

.nav_menu ul {
    display: flex;
    color: #fff;
    padding: 10px;
    list-style-type: none;
}

.logo img {
    margin-left: 10px;
    width: 150px;
    height: auto;
}

.burger {
    display: none;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 150px;
    color: #fff;
    /* text-align: center; */
}

.hero_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 12px;
}

.hero_content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero_content p {
    line-height: 1.5;
}

.hero_content a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #fff;
    color: #000;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero_content a:hover {
    transition: all 0.3s ease;
    background-color: #111;
    color: #fff;
}

.hero_content span {
    margin: 12px;
}

.order {
    margin-top: 12px;
}

.hero_image {
    max-width: 800px;
    height: auto;
    border-radius: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 50px 20px;
}

.menu_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.menu_item {
    flex: 1 1 300px;
    max-width: 300px;
    margin-bottom: 20px;
}

.menu_item h2 {
    font-size: 25px;
    margin: 8px 0;
    letter-spacing: .8px;
    color: #fff;
}

.menu_item span {
    font-weight: bold;
    font-size: larger;
    letter-spacing: 1px;
    color: #fff;
}

.menu_item p {
    margin: 8px 0;
    color: #fff;
}

.menu_item img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    box-shadow: #575757 5px 5px 20px;
}

.map {
    display: flex;
    justify-content: center;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    height: 500px;
    border-radius: 12px;
    margin: 0 15px 15px 0;
    box-shadow: #575757 5px 5px 20px;
}

.footer {
    padding: 20px 0;
    text-align: center;
    margin: 25px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
}

.footer .social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 10px 0;
    background-color: #fff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer .social-icons a i {
    vertical-align: middle;
}

.footer .copyright {
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
}

.popup_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 85%;
    z-index: 1000;
    text-align: center;
    font-size: 24px;
}

.popup_nav ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.popup_nav ul li {
    margin: 20px 0;
}

.popup_nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.exit {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.popup_nav.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    .hero {
        padding: 10px 100px;
    }

    .menu_items {
        padding: 50px;
    }

    .hero_image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero_image {
        width: 100%;
        height: auto;
    }

    .menu_items {
        flex-direction: column;
        padding: 20px;
    }

    .map iframe {
        width: 80%;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .nav_bar {
        flex-direction: row;
    }

    .nav_menu ul {
        flex-direction: column;
        display: none;
    }

    .nav_menu ul.active {
        display: flex;
        align-items: center;
    }

    .burger {
        display: flex;
    }

    .hero {
        padding: 10px 50px;
    }

    .hero_content h1 {
        font-size: 28px;
    }

    .menu_items {
        padding: 20px;
    }

    .hero_image {
        width: 100%;
        height: auto;
    }

    .burger {
        display: block;
    }

    .nav_menu {
        display: none;
    }

    .map iframe {
        width: 100%;
        height: 300px;
        border-radius: 0;
        margin: 0;
    }
}

@media (max-width: 576px) {
    .hero {
        padding: 10px 20px;
    }

    .hero_content h1 {
        font-size: 24px;
    }

    .menu_items {
        margin: 40px;
        padding: 10px;
    }

    .menu_item h2 {
        font-size: 20px;
    }

    .hero_image {
        width: 100%;
        height: auto;
    }

    .map iframe {
        width: 100%;
        height: 300px;
        border-radius: 0;
        margin: 0;
    }
}
